/AdminGeneral.class
/AdminSede.class
/Cliente.class
/Empleado.class
/EmpresaAlquiler.class
/Estados.class
/Reserva.class
/Roles.class
/Sede.class
/Seguro.class
/Tarifa.class
/TipoSeguro.class
/Usuario.class
/Vehiculo.class
/Entrega.class
